html,body {
    padding: 0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing:border-box;
}
.m-center {
    margin: 0 auto;
}
.center {
    text-align:center;
}

.center-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: inherit;
    font-family: inherit;
}

#container .center-div .form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    box-sizing:border-box;
    padding: 15px;
    background-color: #fff;
    font-family: inherit;
}

.formInput {
    border: 3px solid #ccc;
    background-color: #fff;
    outline: none;
    font-family: inherit;
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#topListTitle {
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: #F79F1F;
    font-family: inherit;
}

#FourLogo {
    text-align:center;
    font-size: 30px;
    padding: 30px 0;
    color: #F79F1F;

    margin: 0;
}
.fakeBtnLink {
    width: 100%;
    max-width: 300px;
    box-sizing:border-box;
    text-decoration:none;
    background-color: #F79F1F;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff !important;
    font-weight:bold;
    color: inherit;
    font-family: inherit;
    text-align: center;
    display:block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
ul.listOrgs {
    margin:0;
    padding:0;
}
ul.listOrgs li {
    list-style-type: none;
}
ul.listOrgs li.OrgLi {
    border-bottom: 1px solid #333;
    box-sizing:border-box;
    padding: 10px;
    width: 100%;
    font-family: inherit;
}